@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$font-family-inter:      "Inter";

$theme-colors: (
  "primary": #b800d9,
  "danger": #ff4136
);


